<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="exerciseParser" class="ru.otus.spring.homework1.utils.ExerciseParserImpl">
        <constructor-arg name="resoursePath" value="questions-resource.csv" />
    </bean>
    <bean id="exerciseDao" class="ru.otus.spring.homework1.dao.ExerciseDaoFromFile">
        <constructor-arg name="parser" ref="exerciseParser" />
    </bean>
    <bean id="serviceExercise" class="ru.otus.spring.homework1.service.ExerciseServiceImpl">
        <constructor-arg name="exerciseDao" ref="exerciseDao" />
    </bean>
</beans>